<div class="sidebar pure-u">
    <header class="header">
        <hgroup>
            <div class="circular-image">
                <img src="https://s.gravatar.com/avatar/{{ site.authors.evan.gravatar }}?s=180" />
            </div>
            <h1 class="brand-title">Simple Solutions</h1>
            <h2 class="brand-tagline">...Kinda</h2>
        </hgroup>

        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="pure-button" href="{{ site.nav-blog }}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="pure-button" href="{{ site.nav-archives }}">Archives</a>
                </li>
                <li class="nav-item">
                    <a class="pure-button" href="{{ site.nav-about }}">About</a>
                </li>
            </ul>
        </nav>
    </header>
</div>