            <footer class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="{{ site.nav-about }}">About</a></li>
                        <li><a href="{{ site.link-twitter }}">Twitter</a></li>
                        <li><a href="{{ site.link-github }}">Github</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</div>

<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui.js"></script>
<script>
YUI({
  modules: {
      'prettify': {
          fullpath: '{{ site.link-base_url }}javascripts/prettify.js',
          requires: ['prettify-css']
      },
      'prettify-css': {
          fullpath: '{{ site.link-base_url }}stylesheets/prettify.css'
      }
  }
}).use('node-base', 'node-event-delegate', function (Y) {
    // This just makes sure that the href="#" attached to the <a> elements
    // don't scroll you back up the page.
    Y.one('body').delegate('click', function (e) {
        e.preventDefault();
    }, 'a[href="#"]');
}).use('prettify', function(Y) {
    // It's loaded, now make everything pretty!
    $( document ).ready(function() {
      $(this).find( "pre" ).each(function(){
        $(this).find("code").addClass("prettyprint linenums");
      })

      Y.prettyPrint();
    });

});
</script>
<link rel="stylesheet" href="{{ site.link-base_url }}stylesheets/coderay.css">
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-36894884-1");
  pageTracker._trackPageview();
  } catch(err) {}
</script>
