{% assign author = site.authors[page.author] %}
<div class="meta">
    <span>
        <img style="float:left; margin-right:12px;" src="https://s.gravatar.com/avatar/{{ site.authors.evan.gravatar }}?s=80">
    </span>
    <span class="author">
        Written by {{ author.display_name }}
        <div>{{ page.date | date: "%-d %B %Y" }}</div>
        <div>
            <span><a href="{{ site.twitter }}">Twitter</a> | </span>
            <span><a href="{{ site.github }}">Github</a> | </span>
            <span><a href="{{ site.stack_overflow }}">Stack Overflow</a></span>

        </div>
        <div><a href="mailto:kindasimple@gmail.com">kindasimple@gmail.com</a></div>
    </span>
</div>
<div style="clear:both"/><br/>