<!doctype html>
<html>
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body>

  <!-- content container //-->
  <div class="pure-g-r" id="layout">

    {% include blog-sidebar.html %}

    <div class="pure-u-1">

      <!-- content here //-->
      <div class="content">

        <section>

          <!-- Page content of course! -->
          {{ content }}
        </section>
    
    <!-- JS and analytics only. -->
    {% include footer.html %}

  </body>
</html>